* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-image: url(Images/full.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}


@media (max-width: 400px) {

    .title-holder, #introHolder, #buttonHolder, #buttonHolderTwo {
        display: flex;
        flex-direction: column;
    }

    .holder {
        margin-top: 15%;
        padding-top: 0%;
    }
}

@media (max-width: 800px) {
    .holder {
        padding-top: 40%;
    }
}

@media (max-width: 1000px) {
    .holder {
        padding-top: 8%;
    }
}

.container {
    padding: 20px;
    background-color: black;
    width: 680px;
    height: auto;
    opacity: 0.9;
}

h1 {
    font-size: 45px;
    color: white;
    text-decoration: underline;
}

p {
    font-size: 25px;
    color: white;
}

button {
    background-color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

.title-holder {
    padding-top: 10px;
    padding-bottom: 10px;
}

#buttonHolder {
    padding-top: 5px;
}

.title-holder, #introHolder, #buttonHolder, #buttonHolderTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
    text-align: center;
    opacity: 1;
}