* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Images/full.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    body {
        height:100vh;
    }
}

.container {
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
    width: 650px;
    height: auto;
    opacity: 0.9;
}

h1 {
    font-size: 2.813rem;
    color: white;
    text-decoration: underline;
}

p {
    font-size: 25px;
    color: white;
}

button {
    background-color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

.title-holder {
    margin-top: 20px;
    padding-bottom: 10px;
}

#buttonHolder {
    padding-top: 5px;
}

@media (max-width: 810px) {
    
    .title-holder, #introHolder, #buttonHolder, #buttonHolderTwo {
        flex-direction: column;
    }

    body {
        height:100vh;
    }
}

@media (max-width: 1000px) {
    
    .title-holder, #introHolder, #buttonHolder, #buttonHolderTwo {
        flex-direction: column;
    }

    body {
        height:100vh;
    }
}



.title-holder, #introHolder, #buttonHolder, #buttonHolderTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
    text-align: center;
    opacity: 1;
}