* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Images/full.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

@media (max-width: 400px) {
    .title-holder, #introHolder, #buttonHolder, #buttonHolderTwo {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .container {
        top: 300px;
    }
}

@media (max-width: 1200px)

.container {
    padding: 20px;
    background-color: black;
    width: 680px;
    height: auto;
    opacity: 0.9;
}

h1 {
    font-size: 45px;
    color: white;
    text-decoration: underline;
}

p {
    font-size: 25px;
    color: white;
}

button {
    background-color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

.title-holder {
    margin-top: 20px;
    padding-bottom: 10px;
}

#buttonHolder {
    padding-top: 5px;
}

.title-holder, #introHolder, #buttonHolder, #buttonHolderTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
    text-align: center;
    opacity: 1;
}